@import "tailwindcss";

:root {
  --discord-blue: #5865f2;
  --discord-blue-dark: #4752c4;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-discord-blue: var(--discord-blue);
  --color-discord-blue-dark: var(--discord-blue-dark);
}
